body {
  background-color: #0E293B;
  font-family: 'Baloo Bhai 2', cursive;
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px 50px;
}

.nav > .location-icon {
  margin-left: auto;
  font-size: 20px;
  color: #497C98;
}

.nav > .location {
  margin-left: 12px;
  font-size: 20px;
  color: #B9B9B9;
}

.container {
  position: relative;
  margin-top: 80px;
  margin-left: 12vw;
  height: 80vh;
  transition: all 0.3s;
}

.container > img {
  z-index: 10;
  position: absolute;
}

.container > .first-name {
  z-index: 9;
  font-weight: 600;
  font-size: 120px;
  position: absolute;
  top: 80px;
  left: 300px;
  color: #85D0F5;
  opacity: 50%;
}

.container > .last-name {
  font-size: 120px;
  z-index: 9;
  position: absolute;
  top: 182px;
  left: 340px;
  color: #2C4E65;
  opacity: 50%;
}

.container > .description {
  font-size: 24px;
  color: white;
  opacity: 36%;
  top: 340px;
  left: 400px;
  position: absolute;
  z-index: 9;
}

.container > .social {
  display: flex;
  align-items: center;
  position: absolute;
  top: 400px;
  left: 400px;
  z-index: 9;
}

.container > .social > a {
  margin-right: 24px;
}

a.icon {
  color: #657682;
  font-size: 24px;
  transition: all 0.3s;
}

a.icon:hover {
  color: #AACCDF;
}

.stats-container {
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  bottom: 80px;
  right: 80px;
  position: fixed;
  background-color: #768D8C;
}

.stats-container.collapsed {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  cursor: pointer;
}

.stats-container.collapsed > .details {
  opacity: 0;
}

.stats-container.collapsed > .footer {
  opacity: 0;
}

.stats-container.collapsed > .stats-icon {
  color: #0E293B;
  font-size: 32px;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.stats-container.expanded {
  height: 300px;
  width: 480px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.stats-container.expanded > .stats-icon {
  opacity: 0;
}

.stats-container.expanded > .footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 16px 0px 0px;
  color: white;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.stats-container.expanded > .footer > ion-icon {
  margin-right: 10px;
}

.stats-container.expanded > .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #193141;
  padding: 24px;
  flex: 1;
  row-gap: 4px;
  column-gap: 48px;
  transition: all 0.3s;
}

.stats-container.expanded > .details > .header {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: span 2;
  margin-bottom: 8px;
}

.stats-container.expanded > .details > .header > .title {
  color: white;
  font-size: 24px;
}

.stats-container.expanded > .details > .header > .close {
  margin-left: auto;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.stats-container.expanded > .details > .skill-container {
  display: flex;
  flex-direction: column;
}

.stats-container.expanded > .details > .skill-container > .skill-name {
  color: white;
  font-size: 16px;
}

.stats-container.expanded > .details > .skill-container > .skill-track {
  background: rgba(201, 199, 199, 0.24);
  height: 6px;
  border-radius: 3px;
  width: 100%;
}

.stats-container.expanded > .details > .skill-container > .skill-track > .skill-progress {
  background: #C9C7C7;
  height: 6px;
  border-radius: 3px;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  .container > img {
    z-index: 8;
  }

  .container > .first-name {
    opacity: 75%;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    left: unset;
    top: 416px;
  }

  .container > .last-name {
    opacity: 90%;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    left: unset;
    top: 512px;
  }

  .container > .description {
    top: 660px;
    left: unset;
    opacity: 60%;

  }

  .container > .social {
    top: unset;
    left: unset;
    bottom: 0;
  }

  .stats-container.expanded {
    z-index: 12;
    height: auto;
    left: 80px;
    width: auto;
  }

  .stats-container.expanded > .details {
    display: flex;
    flex-direction: column;
  }

  .stats-container.expanded > .details .header {
    margin-bottom: 32px;
  }

  .stats-container.expanded > .details > .skill-container {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 640px) {

  .nav {
    padding: 16px;
  }

  .container > img {
    width: 240px;
    margin-top: 40px;
  }

  .container > .first-name {
    font-size: 100px;
    top: 300px;
  }

  .container > .last-name {
    font-size: 100px;
    top: 380px;
  }

  .container > .description {
    font-size: 14px;
    top: 500px;
  }

  .stats-container {
    bottom: 40px;
    right: 40px;
  }

  .stats-container.expanded {
    left: 40px;
  }
}

@media only screen and (max-width: 480px) {

  .nav > .logo {
    width: 140px;
  }

  .nav > .location-icon {
    font-size: 18px;
  }

  .nav > .location {
    font-size: 16px;
  }

  .container > .first-name {
    font-size: 64px;
  }

  .container > .last-name {
    font-size: 64px;
    top: 350px;
  }

  .container > .description {
    top: 440px;
  }

  .stats-container {
    bottom: 24px;
    right: 24px;
  }

  .stats-container.collapsed {
    height: 48px;
    width: 48px;
  }

  .stats-container.collapsed > .stats-icon {
    font-size: 16px;
    bottom: 16px;
    right: 16px;
  }

  .stats-container.expanded {
    left: 24px;
  }
}